<div class="space"></div>

<div class="last clearfix">
  <div class="boobs">
    <div class="round_l">
      <div class="point_l"></div>
    </div>
    <div class="round_r">
      <div class="point_l"></div>
    </div>
  </div>
  <p>Made with love</p>
  <p>&copy; 2014–{{ site.time | date: '%Y' }} DHBW Ravensburg Mediendesign Studiengang 2014</p>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ '/resources/scripts/script.js' | relative_url }}"></script>
<script src="{{ '/resources/scripts/lightbox.min.js' | relative_url }}"></script>
