<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />

  {% seo %}

  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="{{ '/resources/styles/style.css' | relative_url }}" rel="stylesheet" type="text/css" />
  <link href="{{ '/resources/styles/lightbox.css' | relative_url }}" rel="stylesheet" type="text/css" />
  <link href="{{ '/resources/styles/boobs.css' | relative_url }}" rel="stylesheet" type="text/css" />
  <link href="{{ '/favicon.ico' | relative_url }}" rel="icon" type="image/x-icon" />
</head>
